<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/notes' ? 'active' : '' %>"href="/notes">Notes</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/notes/add-note' ? 'active' : '' %>" href="/notes/add-note">Add New Note</a>
            </li>
        </ul>
    </nav>
</header>